#1)this file should be renamed from sb_example.cfg to sb.cfg
#2)add username, passwords, twitter keys, personal settings

[user_settings]
device = 11223344

[google_credentials]
email = username@gmail.com
password = password


[wunderground]
api = insertapinumberhere
#example (not valid account):  api = b94a9a49bf45b39e

[twitter]
CONSUMER_KEY = insertconsumerkeyhere
CONSUMER_SECRET = insertconsumersecrethere
ACCESS_KEY = insertaccesskeyhere
ACCESS_SECRET = insertaccesssecrethere

#example (not valid account):
#CONSUMER_KEY = MG3l716qlnSTsZqQ75YeJ7aYZ
#CONSUMER_SECRET = SIEtUm7bTRKGZ6EkMPJ5VpsNWYjDQ0XSeZ2dcdbm389Ey9Q43T
#ACCESS_KEY = 8438446438-WQG1ya53YUVZGVFTATq1t6hSuEeL1JPsbPtBIN6
#ACCESS_SECRET = AfVQ1NzgjhhLUa6fWQeSASfDRTwnR59xAtg4nDZ9qS4q1
